/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    height: 100vh;
  }
  
  /* Estilos para el contenedor de contenido */
  .content-container {
    display: flex;
    flex: 1;
  }
  
  /* Estilos para la barra lateral */
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  